.project {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between image and text */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centering */
    width: 80%;
    max-width: 800px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    /*background-color: #fafafa; /* Change background color on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Increase shadow on hover */
}

.project a {
    display: flex;
    text-decoration: none; /* Remove link styling */
    color: inherit; /* Inherit color from the card */
    width: 100%;
}

/* Project Image */
.project img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

/* Project Text */
.project h2 {
    margin: 0;
    font-size: 1.5rem;
}

/* Project Titles */
.project-title {
    text-decoration: none; /* Remove default underline */
    color: #333; /* Normal text color */
    font-weight: bold;
    cursor: pointer; /* Show pointer on hover */
    transition: color 0.2s, text-decoration 0.2s;
}

.project-title:hover {
    color: #007bff; /* Subtle blue color on hover */
    text-decoration: underline; /* Show underline only on hover */
}